/*跑馬燈*/
.marquee {
   /* width: 95%;*/
	line-height: 60px;
	background-color: red;
	color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 8px;
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 60s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.col{
    max-width: 100%;
    height: 50%;
}
.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bolder;
  margin: 4px 2px;
  cursor: pointer;
  height: 12%;
  border-radius: 5px;
}

.btn-block{
    position: center;
    display: block;
    width:50%;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
}

.table-responsive{
  height: 833px; /*1200px*/
  width: 100%;
  overflow-y: auto;
  border: 2px solid #444;
}

.tbl-head {
    line-height: 65px;
}

/*.table::-webkit-scrollbar {*/
/*    !* Hide scrollbar for Chrome, Safari and Opera *!*/
/*    display: none;*/
/*    -ms-overflow-style: none;  !* IE and Edge *!*/
/*    scrollbar-width: none;  !* Firefox *!*/
/*}*/

.table-responsive:hover{border-color:darkred;}

table{width:100%;}
td{padding:24px; background:#eee;}


body{
    background-color: #ad0f0d;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #dc9149;
    font-size: 60px;
}

h1 {
    font-weight: bolder;
    padding: 50px;
    font-size: 60px ;
    text-align: center;
}
h2 {
    font-weight: bolder;
    margin: -10px;
    font-size: 60px ;
    text-align: center;
}

#exportxls{
    color: white;
    font-size: 35px;
    margin-top:5px;
}

.txt{
    background: rgba(252, 248, 248, 0.3) ;
    /*width: auto !important;*/
    /*height: auto !important;*/
    color: aliceblue !important;
    line-height: 100px !important;

}

#img_top{
    /*padding: 100px;*/
    display: block;
    margin-left: 75%;
    margin-top: 8px;
    width: 45%;
    opacity: 0.3;
    transform: rotate(-165deg);
}

#img_down{
    /*padding: 100px;*/
    display: block;
    margin-right: 80%;
    margin-left: auto;
    margin-top: 50px;
    width: 45%;
    opacity: 0.15;
    transform: rotate(-30deg);
}

#img_down_list{
    /*padding: 100px;*/
    display: block;
    margin-right: 80%;
    margin-left: auto;
    margin-top: 50px;
    opacity: 0.3;
    transform: rotate(-165deg);
}

#gif{
    position: relative;
    width: 200px;
    height: 300px;
    z-index: 1;
    bottom: 500px;
}

/*table head fix*/

tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; }
